extends layout

block content
  div.crad-header ログインフォーム
  div.card-body
  form(method="post", action="/register").my-3
    div.form-group.row
        label(for="username").col-md-4.col-form-label.text-md-right ユーザ名
        .col-md-6 
            input(type="text", name="username", autofocus)#username.form-control
            //- .alert.alert-danger #{errorMessage}
    .form-group.row 
    div.form-group.row
        label(for="email").col-md-4.col-form-label.text-md-right メールアドレス
        .col-md-6 
            input(type="text", name="email", autofocus)#email.form-control
            //- .alert.alert-danger #{errorMessage}
    .form-group.row 
        label(for="password").col-md-4.col-form-label.text-md-right password 
        .col-md-6 
            input(type="password", name="password")#email.form-control
    .form-group.row.mb-0 
        .col-md-8.offset-md-4
            button(type="submit").btn.btn-primary ログイン